@page "/Game/{GameHeight:int}/{GameWidth:int}/{GameAliveCellsPercent:int}"
<PageTitle>Game Of Life - Game</PageTitle>
@if (board != null)
{
    <div>
        <div class="page-container">
            <div style="display:grid; width: auto; grid-template-columns:repeat(@GameWidth, 1fr);">
                @for (var row = 0; row < board.PlayingField.GetLength(0); row++)
                {
                    for (var column = 0; column < board.PlayingField.GetLength(1); column++)
                    {
                        var currentColumn = column;
                        var currentRow = row;
                        <div
                            style="background:lightblue; border:1px solid black; text-align:center; aspect-ratio: 1 / 1; @GetGameTileStyle()" @onclick="@(() => TryToggleCell(currentRow, currentColumn))" class="@(isGamePaused ? "cell-clickable" : "")">
                            @if (board.PlayingField[currentRow, currentColumn])
                            {
                                <div class="cell-alive @currentRow-@currentColumn"></div>
                            }
                            else
                            {
                                <div class="cell @currentRow-@currentColumn"></div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
        @if (!board.IsGameAlive())
        {
            <div class="game-over"><h1>Game Over</h1></div>
        }
        <div class="menu-overlay" @onmousemove="OnMouseMove" @onmouseup="EndDrag">
            <div class="simple-menu" style="top: @(MenuY)px; left: @(MenuX)px;">
                <div class="menu-header" @onmousedown="StartDrag">Game Menu</div>
                <div class="menu-content">
                    @if (isGamePaused)
                    {
                        <button @onclick="ResumeGame">▶ Play</button>
                    }
                    else
                    {
                        <button @onclick="PauseGame">⏸ Pause</button>
                    }
                    <button @onclick="ExitGame">Exit</button>

                    <button @onclick="RestartGame">Restart</button>
                </div>
            </div>
        </div>
    </div>
}